<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YahooWeather.YahooWeather" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <YahooWeather.YahooWeather>
            <setting name="appId" serializeAs="String">
                <value>dj0yJmk9UUJqb2dkYXdxa1gyJmQ9WVdrOVdXTk5lSHBzTm1jbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD1iZg--</value>
            </setting>
        </YahooWeather.YahooWeather>
    </applicationSettings>
</configuration>